ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

.nav{
  display: flex;
  width: 550px;
  height: auto;
  
}

.navUL{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  
  
}
.shape{
  border-radius: 50%;
  width: 50px;
  height: 50px; 
  display: flex;
  justify-content: center;
  align-items: center;
  
  
  }

.shape:hover {
  padding: 10px;
  border-radius: 50px;
  height: 25px;
  width: 100px;
  display: inline-flex;
  border: none;
  transition: all 0.4s ease 0s;
  justify-content: center;
  align-items: center;
}

.hoverName{
  display: none;
  padding: 20;
  color: black;
}

.hoverLetter{
  padding: 10 20;
}

:hover .hoverName{
  display: unset;
  transition: all 0.4s ease .03s;
}
:hover .hoverLetter{
  display: none;
  transition: all 0.4s ease .05s;
}

.about{
  background-color: lightblue;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.resume{
  background-color: pink;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.home{
  background-color: gray;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.portfolio{
  background-color: lightgreen;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.contactNAV{
  background-color: darkorchid;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

@media screen and (max-width: 768px){
  .nav{
    display: none;
  }
}
